@using PizzaBox.Domain.Models
@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using PizzaBox.Client.Helpers
@inject IHttpContextAccessor httpContextAccessor

  
@model PizzaBox.Client.Models.OrderViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Pizza</title>
</head>

<body class="container-md">
  <div class= "row">
    <div class="jumbotron text-center col-md-12" style="background: url('@Url.Content("~/Images/Pizza.jpeg")') no-repeat;background-size: 100%;">
      <h1 class="display-4" style="color:white; font-weight: 400;">Add Pizza</h1>
    </div>
  </div>

  <div class= "row mt-1">
    <form class="col-md-6" action="/Order/Add" method="post">
      <div class="form-group">
        <label>Pizza</label>
        <select class="form-control" name="PizzaName">
          @{
            @foreach (var item in @Model.PizzaList)
            {
              if(@item.IsAvailable((int)@httpContextAccessor.HttpContext.Session.GetInt32("StoreId")))
              {
                <option value ="@item.Name">@item.Name  $@item.Price</option>
              }
              else
              {
                 <option value ="@item.Name" disabled>@item.Name $@item.Price @item.GetNote((int)@httpContextAccessor.HttpContext.Session.GetInt32("StoreId"))</option>
              }
            }
          }
        </select>
      </div>
       

      <div class="form-group">
        <input class="form-control"  required type="number" name="Quantity" id="Quantity" min="1" max="50">
      </div>

      <div class="form-group">
        <p class="text-danger">@ViewData["QtyError"]</p>      
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add to Cart</button>
      </div>
      
    </form>
    
    <div class="col-md-6">
      @{
        int userid = (int)@httpContextAccessor.HttpContext.Session.GetInt32("UserId");
      }
      @{
            
            @foreach (var item in SessionHelper.GetObjectFromJson<Dictionary<string, int>>(@httpContextAccessor.HttpContext.Session, "cart-"+userid))
            {
              <div class="row">
                <div class="shakeIt col-md-1">
                   <a asp-controller="order"
                   asp-action="RemoveFromCart"
                   asp-route-name="@item.Key">
                   <i class="fas fa-trash text-danger"></i>
                   </a>
                </div>
                <div class="col-md-11">
                  <p>@Model.CartString(@item.Key, @item.Value)</p>
                </div>
              </div>
               
              
            }
            <p>Subtotal : $@Model.cartTotal</p>
          }
    </div>
   </div>   

   <div class="row">
     <div class="offset-md-8">
        <p class="text-danger">@ViewData["OrderError"]</p>
        <p class="text-danger">@ViewData["CheckOutError"]</p>
      </div>
   </div> 

   <div class="row">
     <div class="offset-md-10">
        <a asp-controller="order"
          asp-action="CheckOut"
          class ="btn btn-primary"
          >Check Out
        </a>
     </div>
   </div>
</body>
</html>